@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family:"Inter",sans-serif;
    background-image: linear-gradient(to bottom right, #bec1ff53, #fcae9497);
}

p {
    font-size:18px;
}

a {
    text-decoration-style: wavy;
    color: #dc4523ba;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    font-weight: 400;
}

a:hover {
    text-decoration-style: wavy;
    color: #dc4523;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    font-weight: 600;
}

footer {
    text-align: center;
}

.hero-title {
    font-weight:600;
    line-height:1;
}

.half {
    width: 395px;
}

.footer {
    padding: 35px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .hero-title {
        font-size:44px;
    }
}

@media (min-width: 768px) {
    .hero-title {
        font-size:54px;
    }
}

  
@media (min-width: 1024px) {
    .hero-title {
        font-size:60px;
    }
}
